/* You can add global styles to this file, and also import other style files */
.navbar-header {
  display: flex;
}
.filler {  /* spacing to allow  Student Text to appear below fixed header*/
  display: flex;
  height: 120px;
  
}
.logo {  
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
  }


.navbar-brand {
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  flex-grow: 1;
  vertical-align: fixed;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  

}
.navbar-image {
  width: 100px;
}

.navbar {
  background:#80deea;
  z-index: 100;
  transition: height 600ms 0s ease;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  height: 100px;

}
.brnav {
  background-color: #6d4c41;
  height: 50px;
  

}

#stunav {  /* the text style and color*/
  color: #80deea;
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  text-indent: 30px;
  display: flex;
  
}

  
  .b-style {
    font-family: 'Roboto', sans-serif;
    color: white;
    outline: none;
    background-color: #3e474f;
  }

  
  
  


