
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:100');


#logintitle { /* style for the title in the login page*/
    font-family: 'Roboto', sans-serif;
    color: #80deea; 
  }
  #teach1 { /* image styling*/
    display: flex; 
    text-align: right;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    border-radius: 50%;
   
  }

  .teach-name {
  color: #6d4c41;
  width:100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
  margin-top: 30px

  }

  .drop-down {
    display: none;
    position: absolute; 
    right: 50px;
    }

  li {list-style-type: none;}

  .drop-btn {
    background-color: transparent;
    border: none;
  }
  
  .hot-drop:hover .drop-down{
    display: block;
  }
