/* You can add global styles to this file, and also import other style files */
.navbar-header {
  display: flex;
}

.navbar-brand {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  width: 100%;
  flex-grow: 1;
  vertical-align: fixed;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  

}

.navbar {
  background: #3e474f;
  z-index: 100;
  transition: height 600ms 0s ease;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
}
  
    
  
  #login {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-style: bold;
    outline: none;
    background-color: #3e474f;
    font-family: sans-serif;
    
  }
  #add {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    outline: none;
    background-color: #3e474f;
  }
  #games {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    outline: none;
    background-color: #3e474f;
  }
  #student {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    outline: none;
    background-color: #3e474f;
  
  }
  #home {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    outline: none;
    background-color: #3e474f;
  }
  



